.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1rem;
  width: 9.9rem;
  height: 3rem;
  margin-right: 50% !important;
  margin-top: 3px;
  background-color: #323030;
  position: fixed;
  z-index: 3;
}
