.logo {
    display: flex   ;
    justify-content: center;
    align-items: center;
    left: 3rem;
    width: 24rem;
    height: 3rem;
    margin-right: 50% !important;
    margin-top: 1px;
    background-color: #2196f3;
    position: fixed;
    z-index: 3;    
}
